In [1]:
import geopandas as gpd
import numpy as np
import pandas as pd

In [2]:

opath = f'/export/projects/Sen4Stat/WORK/'

shp_s4s = f'{opath}IN_SITU/SITE_41/SEN_2021_SITE_41_buf_0_LC_all_EXTENT_wall_to_wall_SEG_RATIO_100_LEVEL_grp_1_classify.shp'

shp_s2a = f'{opath}IN_SITU/SITE_41/Sen2Agri/SEN_2021_SITE_41_buf_0_LC_all_EXTENT_wall_to_wall_SEG_RATIO_100_LEVEL_grp_1_classify.shp'

In [3]:
gdf = gpd.read_file(shp_s4s)

gdf['CROP'] = np.where(gdf['lc_nb'].isin([1,2]), 1, 0)

gdf['IRRIGATION'] = 0

gdf = gdf[['id','CROP','grp_1','grp_1_nb','IRRIGATION','geometry']]

gdf = gdf.rename(columns={'id': 'ID', 'grp_1_nb': 'CODE', 'grp_1' : 'LC'})

print(gdf.dtypes)

#gdf.to_file(shp_s2a)
gdf

ID               int64
CROP             int64
LC              object
CODE             int64
IRRIGATION       int64
geometry      geometry
dtype: object

,ID,CROP,LC,CODE,IRRIGATION,geometry
0,0,1,Maize,1121,0,"POLYGON ((401594.999 1518649.411, 401592.870 1..."
1,1,1,Maize,1121,0,"POLYGON ((425629.754 1515387.877, 425632.729 1..."
2,2,1,Maize,1121,0,"POLYGON ((448767.618 1511056.508, 448766.858 1..."
3,3,1,Maize,1121,0,"POLYGON ((425774.240 1515014.511, 425782.294 1..."
4,4,1,Maize,1121,0,"POLYGON ((433388.702 1520054.127, 433395.673 1..."
...,...,...,...,...,...,...
429,435,0,Temporary rivers and streams,9222,0,"POLYGON ((417637.808 1508060.291, 418660.162 1..."
430,436,0,Temporary rivers and streams,9222,0,"POLYGON ((419594.675 1506572.969, 421033.588 1..."
431,437,0,Temporary rivers and streams,9222,0,"POLYGON ((417632.153 1504252.790, 418146.210 1..."
432,438,0,Temporary rivers and streams,9222,0,"POLYGON ((422768.264 1508555.539, 423481.380 1..."
433,439,0,Temporary rivers and streams,9222,0,"POLYGON ((417071.009 1502695.458, 417934.593 1..."