# Color Map

In [1]:
import pandas as pd
from pathlib import Path
from IPython.display import display

print('All libraries successfully imported!')

All libraries successfully imported!

## Set directory

In [7]:
computer_path = '/export/miro/ndeffense/LBRAT2104/'

color_map_path = f'{computer_path}data/COLOR_MAP/'

Path(color_map_path).mkdir(parents=True, exist_ok=True)

## Set parameters

In [8]:
field_name = 'grp_A'
field_code = 'grp_A_nb'

filename_xlsx = f'{color_map_path}color_map_{field_name}.xlsx'
filename_clr  = f'{color_map_path}color_map_{field_name}.clr'

In [4]:
field_name = 'name'
field_code = 'code'

color_map_path = '/export/projects/Sen4Stat/WORK/COLOR_MAP/'

filename_xlsx = f'{color_map_path}color_map_Nioro.xlsx'
filename_clr  = f'{color_map_path}color_map_Nioro.clr'

## Read Excel color map

In [5]:
df = pd.read_excel(filename_xlsx, usecols=[0,1,2,3,4,5])

df.dropna(how='all', inplace=True)

df = df.astype({'R': 'int32', 'G': 'int32', 'B': 'int32', 'T': 'int32', field_code : 'int32'})

display(df)

   code    R    G    B    T                      name
0     1   14  119   16  255  Végétation (non culture)
1     2  244   12   26  255            Non végétation
2     3    9   57  197  255                       Eau
3     4  230  152    0  255                      Maïs
4     5  255  255  153  255                       Mil
5     6  215  158  158  255                  Arachide

## Write color map in QGIS style

In [10]:
f = open(filename_clr, "w")
f.write(df.to_string(index=False, header=False))
f.close()